
<h4>LOGIN GESTION USUARIO</h4>
  <hr>
  
    <!-- <form (ngSubmit)="login(forma)" #forma="ngForm" novalidate>  -->
    <form [formGroup]="forma" (ngSubmit)="login()" novalidate="novalidate">   

      <div>




        <div class="form-group row" [ngClass]="{ 'has-danger': !forma.get('usuario').valid }">
          <label class="col-2 col-form-label">USUARIO</label>
          <div class="col-8">

            <input class="form-control" 
                   type="text"
                   placeholder="Ingrese su usuario"
                   formControlName="usuario">

            <div *ngIf="forma.controls['usuario'].errors?.required"
            class="form-control-feedback">
              El usuario es necesario.
            </div>

            <div *ngIf="forma.controls['usuario'].errors?.minlength"
            class="form-control-feedback">
              Por lo menos 4 caracteres.
            </div>

          </div>
        </div>




        <div class="form-group row" [ngClass]="{ 'has-danger': !forma.get('contraseña').valid }">
            <label class="col-2 col-form-label">CONTRASEÑA</label>
            <div class="col-8">

              <input class="form-control" 
                     type="password"
                     placeholder="Ingrese su contraseña"
                     formControlName="contraseña">

              <div *ngIf="forma.controls['usuario'].errors?.required"
              class="form-control-feedback">
                La contraseña es necesaria.
              </div>
            </div>
          </div>




          <div class="form-group row">
              <label class="col-2 col-form-label">&nbsp;</label>
              <div class="input-group col-md-8">
                <button type="submit" class="btn btn-outline-primary">
                  LOGUEAR
                </button>
              </div>
            </div>

            <h5>La validación del Login es: <h2>{{forma.valid}}</h2></h5>

      </div>

    </form>













<!-- 
    <mat-card class="example-card">

        <mat-card-header>
          <mat-card-title>Login</mat-card-title>
        </mat-card-header>
    
        <mat-card-content>
          <form class="example-form">
            <table class="example-full-width" cellspacing="0">
              
              <tr>
                <td>
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
                  </mat-form-field>
                </td>
              </tr>
    
              <tr>
                <td>
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
                  </mat-form-field>
                </td>
              </tr>
              
            </table>
          </form>
          
        </mat-card-content>
    
        <mat-card-actions>
          <button mat-raised-button (click)="login()" color="primary">Login</button>
        </mat-card-actions>
    
    </mat-card> -->