h4{
  margin: auto;
  width: 50%;
  text-align: center;
}

/* span{
  text-align: left;
  background: red;
} */

form{
  margin: auto;
  background:rgb(131, 196, 218);
  width: 50%;
  border-style: dotted;
  border-color: rgb(100, 164, 247);
  border-radius: 15px;
}

input{
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  padding: 7px;
  border-color: black;
}

select{
  width: 80%;
  margin-bottom: 20px;
  padding: 7px;
  border-color: black;
}

input:focus{
  background-color: rgb(165, 218, 248);
  border-color: rgb(78, 132, 248);
}

button{
  margin: auto;
  text-align: center;
  width: 80%;
}

.caja{
  margin: auto;
  text-align: center;
  width: 50%;
}