
.text-light{
  font-size: 30px;
  color: white;
  right: 10px;
}



form{
  margin: auto;
  /* background:rgb(131, 196, 218); */
  /* background:url(C:\fotologin\exactlogin.JPG); */
  background: -prefix-linear-gradient(left top, #355b7c,#ffffff, #768a9c); 
  background: linear-gradient(to bottom right,#355b7c,#3f607c, #768a9c);
  width: 55%;
  height: 600px;
}

@media(max-width:1000px){
  form{
    width: 100%;
    margin-bottom:10px;
    margin-top: 20px;
    }
  }

@media(max-width:1000px){
  .buttonid{
    width: 100%;
      }
  }
  @media(max-width:1000px){
    .letrabutton{
      width: 100%;
        }
    }
  
    @media(max-width:200px){
      .titulo{
        font-size: 1px;  
      }
      }


input{
  
  margin: auto;
  margin-bottom: 20px;
  padding: 7px;
  background-color: transparent;
  font-size:  14px; 
  border:  none; 
  border-bottom:  solid 1px;
  align-self: center;
}

.type{
  background: transparent;
}

select{
  width: 80%;
  margin-bottom: 20px;
  padding: 7px;
  border: none;
  background: transparent;
}

input:focus{
  background-color: transparent;
  border-color: transparent;
}

button{
  margin: auto;
  text-align: center;
  
  border-radius: 0%;  
  background: #ffffff;
  height: 80px;
  color: #004885;
  border-color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}

.caja{
  margin: auto;
  text-align: center;
  width: 50%;
}

.centrologin{
  margin: auto;
  
 }

::placeholder{
  color: white;
}

img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
    width: 2em;
    margin-bottom: 17px;
}

