/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';


/* .boa{
    background: url(./assets/Exact26.jpg) no-repeat center fixed;
    height:100%; 
    width:100%;  
    position: absolute
}
 */

body, html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
  
  .bg {
    /* The image used */
    
  
    /* Full height */
    
    
    /* Center and scale the image nicely */
    background-image: url(./assets/Exact26.jpg);
    position: relative;
    width: 100%;
    bottom: 0;
   }